@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-primary: 'Montserrat', sans-serif;

  --background-primary: #ecf0f3;
  --shadow-one: #D1D9E6;
  --shadow-two: #FFF;
  --background-secondary: rgb(244, 246, 247);
  --text-drak-gray: #2e353b;
  --text-gray: #565e65;
  --text-p: 0.75rem;    
  --text-h3: 1rem;     
  --text-h2: 1.25rem;      
  --text-h1: 1.75rem;
  --radius-universal: 1.5rem;
}

body {
  font-family: var(--font-primary);
  letter-spacing: 1px;
  
}
h1{
    font-size: var(--text-h1);
    font-weight: lighter;
}
h2{
    font-size: var(--text-h2);
    font-weight: lighter;
}
h3{
    font-size: var(--text-h3);
    font-weight: lighter;
}
p, label{
    font-size: var(--text-p);
    font-weight: lighter;
}
a{
  /* text-decoration: none; */
  color: var(--text-gray);
}