/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  /* --font-primary: 'Montserrat', sans-serif;  */
    --font-primary: 'Roboto Mono', monospace;

  --background-primary: #ecf0f3;
  --shadow-one: #D1D9E6;
  --shadow-two: #FFF;
  --background-secondary: rgb(244, 246, 247);
  --text-drak-gray: #6e7f8d;
  --text-gray: #9aa8b3;
  --text-p: 1rem;    
  --text-h3: 1.25rem;     
  --text-h2: 1.5rem;      
  --text-h1: 2rem;
  --radius-universal: 3rem;
}

body {
  font-family: var(--font-primary);
  letter-spacing: 1px;
}
h1{
    font-size: var(--text-h1);
}
h2{
    font-size: var(--text-h2);
}
h3{
    font-size: var(--text-h3);
}
p, label{
    font-size: var(--text-p);
}