.ui-text-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.ui-text-input input{
    font-family: var(--font-primary);
    background-color: var(--background-primary);
    box-shadow: inset 8px 8px 20px var(--shadow-one), inset -8px -8px 20px var(--shadow-two);
    border: none;
    border-radius: var(--radius-universal);
    color: var(--text-drak-gray);
    padding: 0.5rem 1rem;
    font-size: var(--text-p);
    width: 100%;
    flex: 1;
}
.ui-text-input input:focus{
    outline: none;
    box-shadow: inset 4px 4px 10px var(--shadow-one), inset -4px -4px 10px var(--shadow-two);
}
.ui-text-input label{
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: smaller;
    color: var(--text-drak-gray);
}
.ui-text-input-w-btn{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.ui-text-input-w-btn button{
    margin-left: 0.5rem;
}