.datepicker {
    width: 21rem;
    padding: 2rem;
    background: var(--background-primary);
    border-radius: var(--radius-universal);
}
.weekday{
    font-weight: lighter;
    color: var(--text-gray)
}
.datepicker-header{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.datepicker-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 5px;
    text-align: center;
    margin-bottom: 1rem;
}

.day-cell {
    padding: 10px 0;
    border: none;
    background: none;
    cursor: pointer;
    font-family: var(--font-main);
    aspect-ratio: 1/1;
}

.day-cell.outside {
    color: rgba(255, 255, 255, 0.2); 
}

.day-cell.selected {
    /* background: var(--color-primary); */
    /* color: white; */
    font-weight: bold;
    color: black;
    border-radius: 50%;
    /* border: 1px solid var(--shadow-one); */
    box-shadow: inset 4px 4px 10px var(--shadow-one), inset -4px -4px 10px var(--shadow-two);
    /* background-color: red; */
}

.weekday {
    font-weight: bold;
    font-size: var(--text-xs);
    margin-bottom: 10px;
}